<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crypto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crypto.Properties.Settings>
            <setting name="SecQ1" serializeAs="String">
                <value>Sample Security Question 1</value>
            </setting>
            <setting name="SecQ2" serializeAs="String">
                <value>Sample Security Question 2</value>
            </setting>
            <setting name="SecA1" serializeAs="String">
                <value>0867242ac694edd3b127cb1e9f9d6512</value>
            </setting>
            <setting name="SecA2" serializeAs="String">
                <value>496b7cd0617ee46f2505b63e8fe7b145</value>
            </setting>
            <setting name="PassOpen" serializeAs="String">
                <value>a1e1e7173e3dcb0bfdb312bb140cdb19</value>
            </setting>
            <setting name="PassClose" serializeAs="String">
                <value>2e5ce0761302861ea78195a28116b1cd</value>
            </setting>
        </Crypto.Properties.Settings>
    </userSettings>
</configuration>